apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nexus3-blobstorage-claim-{{ .Values.storageClassName }}
  namespace: {{ .Values.namespace }}
  annotations:
    "helm.sh/resource-policy": keep # https://helm.sh/docs/howto/charts_tips_and_tricks/#tell-helm-not-to-uninstall-a-resource
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 250Gi
  storageClassName: {{ .Values.storageClassName }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nexus3-data-pvc-{{ .Values.storageClassName }}
  namespace: {{ .Values.namespace }}
  annotations:
    "helm.sh/resource-policy": keep # https://helm.sh/docs/howto/charts_tips_and_tricks/#tell-helm-not-to-uninstall-a-resource
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: {{ .Values.storageClassName }}

{{- range $.Values.projectStorage }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nexus3-blobstorage-project-claim-rbd-{{ .name | splitList "." | last }}
  namespace: {{ $.Values.namespace }}
  annotations:
    "helm.sh/resource-policy": keep # https://helm.sh/docs/howto/charts_tips_and_tricks/#tell-helm-not-to-uninstall-a-resource
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .size | default "50Gi" }}
  storageClassName: {{ $.Values.storageClassNameRbd }}
{{- end }}