# Default values for nexus3.

appName: nexus3
namespace: repo3-eclipse-org
host: repo3.eclipse.org
dockerProxyHost: docker-registry.eclipse.org

image:
  # Sonatype Official Public Image
  repository: sonatype/nexus3
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  # tag:

nexusPort: 8081
dockerRegistryPort: 5003

resources:
  requests:
    cpu: 8
    memory: 8Gi
  limits:
    cpu: 8
    memory: 8Gi

# storage
storageClassName: cephfs-new-retain

projectStorage:
# use for proxy repos
  - name: proxy-docker
  - name: proxy-helm
  - name: proxy-pypi
  - name: proxy-maven2
  - name: proxy-npm

# use for projects
  - name: automotive.mosaic
  - name: automotive.sumo
  - name: automotive.tractusx
  - name: ecd.orion
  - name: eclipse
  - name: ee4j
  - name: ee4j.agentic-ai
  - name: ee4j.angus
  - name: ee4j.authentication
  - name: ee4j.authorization
  - name: ee4j.batch
  - name: ee4j.ca
  - name: ee4j.cargotracker
  - name: ee4j.cdi
  - name: ee4j.cu
  - name: ee4j.data
  - name: ee4j.eclipselink
  - name: ee4j.ejb
  - name: ee4j.el
  - name: ee4j.epicyro
  - name: ee4j.exousia
  - name: ee4j.expressly
  - name: ee4j.faces
  - name: ee4j.glassfish
  - name: ee4j.gransasso
  - name: ee4j.grizzly
  - name: ee4j.interceptors
  - name: ee4j.jaf
  - name: ee4j.jakartaconfig
  - name: ee4j.jakartaee-documentation
  - name: ee4j.jakartaee-examples
  - name: ee4j.jakartaee-platform
  - name: ee4j.jakartaee-stable
  - name: ee4j.jakartaee-tck
  - name: ee4j.jaxb
  - name: ee4j.jaxb-impl
  - name: ee4j.jaxws
  - name: ee4j.jca
  - name: ee4j.jersey
  - name: ee4j.jpa
  - name: ee4j.jsonb
  - name: ee4j.jsonp
  - name: ee4j.jsp
  - name: ee4j.jstl
  - name: ee4j.jta
  - name: ee4j.krazo
  - name: ee4j.mail
  - name: ee4j.messaging
  - name: ee4j.metro
  - name: ee4j.mojarra
  - name: ee4j.mvc
  - name: ee4j.nosql
  - name: ee4j.odi
  - name: ee4j.openmq
  - name: ee4j.orb
  - name: ee4j.parsson
  - name: ee4j.piranha
  - name: ee4j.portlet
  - name: ee4j.portlet-bridge
  - name: ee4j.query
  - name: ee4j.rest
  - name: ee4j.rpc
  - name: ee4j.security
  - name: ee4j.servlet
  - name: ee4j.soteria
  - name: ee4j.starter
  - name: ee4j.tyrus
  - name: ee4j.validation
  - name: ee4j.wasp
  - name: ee4j.websocket
  - name: ee4j.yasson
  - name: eclipse.jdt.ls
  - name: foundation-internal.eclipsefdn
  - name: foundation-internal.webdev
  - name: iot.californium
  - name: iot.concierge
  - name: iot.ditto
  - name: iot.eclipsescada
  - name: iot.hawkbit
  - name: iot.hono
  - name: iot.kura
  - name: iot.leshan
  - name: iot.paho
  - name: iot.smarthome
  - name: iot.unide
  - name: locationtech
  - name: locationtech.geogig
  - name: locationtech.geomesa
  - name: locationtech.geotrellis
  - name: locationtech.jts
  - name: locationtech.proj4j
  - name: locationtech.sfcurve
  - name: maven-central
  - name: modeling.acceleo
  - name: modeling.atl
  - name: modeling.diffmerge
  - name: modeling.eef
  - name: modeling.emf
  - name: modeling.emfcompare
  - name: modeling.emfservices
  - name: modeling.etrice
  - name: modeling.gemoc
  - name: modeling.henshin
  - name: modeling.incquery
  - name: modeling.papyrus
  - name: modeling.sirius
  - name: modeling.teneo
  - name: modeling.uml2
  - name: modeling.viatra
  - name: research-datamite
  - name: rt.ebr
  - name: rt.ecf
  - name: science.statet
  - name: technology.cbi
  - name: technology.csi
  - name: technology.dash
  - name: technology.edc
  - name: technology.efxclipse
  - name: technology.egit
  - name: technology.golo
  - name: technology.jgit
  - name: technology.jnosql
  - name: technology.jubula
  - name: technology.lemminx
  - name: technology.lsp4jakarta
  - name: technology.lsp4mp
  - name: technology.lyo
  - name: technology.microprofile
  - name: technology.nebula.nattable
  - name: technology.ogee
  - name: technology.openk-platform
  - name: technology.rcptt
  - name: technology.recommenders
  - name: technology.scout
  - name: technology.sensinact
  - name: technology.sw360
  - name: technology.tycho
  - name: tools.andmore
  - name: tools.linuxtools
  - name: tools.mylyn
  - name: tools.orbit
  - name: tools.ptp
  - name: tools.tm4e
  - name: webtools

securityContext:
  runAsUser: 200
  runAsGroup: 200
  fsGroup: 200

dbSecretName: nexus3-postgressql-db
secretLicenseName: nxrm-license
